@import url("https://www.gstatic.com/firebasejs/ui/6.0.0/firebase-ui-auth.css");

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#firebaseui-auth-container {
    display: inline-block;
    width: 100%;
    max-width: 20rem;
}