/* https://cdn.jsdelivr.net/npm/accessible-autocomplete@2.0.3/dist/accessible-autocomplete.min.css */
.autocomplete__wrapper{position:relative}.autocomplete__hint,.autocomplete__input{-webkit-appearance:none;border:2px solid #0b0c0c;border-radius:0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;margin-bottom:0;width:100%}.autocomplete__input{background-color:transparent;position:relative}.autocomplete__hint{color:#b1b4b6;position:absolute}.autocomplete__input--default{padding:5px}.autocomplete__input--focused{outline:3px solid #fd0;outline-offset:0;box-shadow:inset 0 0 0 2px}.autocomplete__input--show-all-values{padding:5px 34px 5px 5px;cursor:pointer}.autocomplete__dropdown-arrow-down{z-index:-1;display:inline-block;position:absolute;right:8px;width:24px;height:24px;top:10px}.autocomplete__menu{background-color:#fff;border:2px solid #0b0c0c;border-top:0;color:#0b0c0c;margin:0;max-height:342px;overflow-x:hidden;padding:0;width:100%;width:calc(100% - 4px)}.autocomplete__menu--visible{display:block}.autocomplete__menu--hidden{display:none}.autocomplete__menu--overlay{box-shadow:rgba(0,0,0,.256863) 0 2px 6px;left:0;position:absolute;top:100%;z-index:100}.autocomplete__menu--inline{position:relative}.autocomplete__option{border-bottom:solid #b1b4b6;border-width:1px 0;cursor:pointer;display:block;position:relative}.autocomplete__option>*{pointer-events:none}.autocomplete__option:first-of-type{border-top-width:0}.autocomplete__option:last-of-type{border-bottom-width:0}.autocomplete__option--odd{background-color:#fafafa}.autocomplete__option--focused,.autocomplete__option:hover{background-color:#1d70b8;border-color:#1d70b8;color:#fff;outline:0}.autocomplete__option--no-results{background-color:#fafafa;color:#646b6f;cursor:not-allowed}.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:16px;line-height:1.25}.autocomplete__hint,.autocomplete__option{padding:5px}@media (min-width:641px){.autocomplete__hint,.autocomplete__input,.autocomplete__option{font-size:19px;line-height:1.31579}}

html,
.command-menu {
  font-family: system-ui, segoe ui, sans-serif;
}

.autocomplete__wrapper {
  width: 100%;
  max-width: 640px;
}

.autocomplete__menu {
  width: 100%;
  max-height: 400px;
  border-radius: 0 0 8px 8px;
	border: 0;
}

.autocomplete__input {
  background: white;
}

.autocomplete__input,
.autocomplete__hint {
  /* padding: 1em 0.6em; */
  /* border-radius: 8px; */
  /* font-size: 22px; */
}

.autocomplete__hint {
  display: none;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 1rem;
	line-height: inherit;
}

.autocomplete__option {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0.5em 0.6em;
  border: 0;
  border-left: 2px solid transparent;
}

.autocomplete__option--odd {
  background-color: initial;
}

.autocomplete__option kbd {
  display: inline-block;
  font-size: 0.875rem;
  padding: 0 0.4em 0.1em;
  line-height: initial;
  background-color: #fafbfc;
  border: solid 1px #d1d5da;
  border-bottom-color: #c6cbd1;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #c6cbd1;
  margin-bottom: auto;
  flex-shrink: 0;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: hsl(0, 0%, 93%);
  border-left: 2px solid var(--theme);
  color: initial;
}

.autocomplete__dropdown-arrow-down {
  right: 1rem;
  top: 50% !important;
  transform: translateY(-50%);
}

command-menu[modal] {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10vh 1rem 1rem;
  display: none;
  /*   background: hsla(0, 20%, 50%, 0.1); */
}

command-menu[modal].is-open {
  display: flex;
}

command-menu[modal] .autocomplete__wrapper {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 16px 70px;
  margin: 0 auto auto;
}

command-menu[modal] .autocomplete__input {
  border: 0;
}

command-menu[modal] .autocomplete__input--focused {
  outline: none;
  border: 0;
  box-shadow: none;
}

command-menu[modal] .autocomplete__menu {
  border: 0;
}

.command-menu[modal] .autocomplete__menu--hidden {
  /* always show options */
  display: block;
}
