/* default light */
.Layout {
	--bg-color: var(--white);
	--almost-bg: hsl(0, 0%, 94%);
	--text-color: var(--black);
	--link-color: var(--theme);
}

/* dark variation */
.Layout--theme-dark {
	--theme: var(--orange);
	--bg-color: var(--black);
	--almost-bg: hsl(0, 0%, 20%);
	--text-color: var(--white);
	/* --link-color: var(--theme); */
	--light: hsl(0, 0%, 14%);
}

/* Layout padding/margin behavior */
*,
*::after,
*::before {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* make .Layout the default element to style from */
html, /* native root elements */
body,
#root, /* react root element */
.Layout /* our root element for layouting */ {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 100%;
}

/* Themes */
.Layout {
	font-size: 16px;
	/* clamp(min, target, max) */
	font-size: clamp(16px, 0.875rem + 0.25vw, 26px);
	font-family: segoe ui, system-ui, -apple-system, sans-serif;
	line-height: 1.5;
	scroll-behavior: smooth;
	padding: 1em 1.5em 0;
	width: 100%;
	background-color: var(--bg-color);
	color: var(--text-color);
	transition: background-color ease-in-out 100ms, color ease-in-out 100ms;
}

/* layout elements */
.Layout-main section + section {
	margin-bottom: 1.5em;
}
