/* menu */
menu {
	margin: 0 0 1em;
	padding: 0;
}
menu li {
	list-style: square;
}
menu li + li {
	margin-top: 0.5em;
}
menu a {
	padding: 0.3em 0.3em 0.3em;
}
menu a[aria-current="page"] {
	background-color: var(--theme);
	color: var(--bg-color);
	text-decoration: none;
}
menu a:focus [aria-current="page"] {
	outline: 1px solid var(--link-color);
}
menu a + a,
menu select + a {
	margin: 0.2em;
}
menu fieldset {
	display: inline-block;
}
.UserChannelsSelect {
	width: auto;
	/* remove browser default appearance */
	appearance: none;
	background-color: var(--bg-color);
	color: var(--theme);
	border: none;
	font-size: 1em;
	font-weight: 600;
	text-decoration: underline;
	text-align: center;
}
.UserChannelsSelect option {
	/* so the parent select gets is width only from the active option */
	max-width: 0;
	font-weight: 400;
}

/* nav */
nav {
	display: flex;
	flex-wrap: wrap;
}
