/* menu */
menu {
	padding: 0;
}
menu li {
	list-style: square;
	margin-bottom: 0.3em;
}

menu a[aria-current="page"] {
	font-style: italic;
	background-color: var(--theme);
	color: var(--bg-color);
	text-underline-offset: 0;
}
menu a:focus [aria-current="page"] {
	outline: 1px solid var(--link-color);
}

menu a {
	padding: 0 0.2em 0.2em 0.2em;
}

menu a + a,
menu select + a {
	padding: 0.2em;
	margin: 0.2em;
}
menu fieldset {
	display: inline-block;
}
menu select {
	width: auto;
	/* remove browser default appearance */
	appearance: none;
	background-color: var(--background);
	color: var(--theme);
	border: none;
	font-size: 1em;
	font-weight: 600;
	text-decoration: underline;
	text-align: center;
}
menu select::after {
	content: '<';
	display: inline-block;
}

/* nav */
nav {
	display: flex;
	flex-wrap: wrap;
}

/* Navigation */
.Nav {
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	gap: 0 1rem;
}
.Nav-push {
	margin-left: auto;
}
.Nav a {
	min-height: 2rem;
	line-height: 1.8;
}
.Nav a:last-of-type {
	margin-right: auto;
}
.Nav button {
	align-self: center;
}
