/* Track */
.Track {
	display: flex;
	font-size: 0.875rem;
	border-bottom: 1px solid var(--light);
}
.Track-main {
	flex: 1;
	align-self: center;
	padding: 0.4rem;
}
.Track-main:hover,
.Track-main:focus {
	background: var(--almost-bg);
}
.Track h4 {
	font-weight: normal;
	margin: 0;
}
.Track p {
	margin: 0;
}
.Track-tags {
	margin-top: 0.4rem;
	margin-left: 1em;
	margin-right: 1em;
}
.Track menu {
	margin: 0.4rem 0.4rem 0 auto;
}
.Track form {
	flex: 1;
	margin: 1rem;
}
.Track.is-editing {
	padding-left: 1em;
	background: white;
}
