/* default components */
@import url("./styles/variables.css");
@import url("./styles/defaults.css");
@import url("./styles/layout-themes.css");

/* utility components */
@import url("./styles/menu-nav.css");
@import url("./styles/forms.css");

/* r4 logic */
@import url("./styles/command-menu.css");
@import url("./styles/tracks.css");
@import url("./styles/tags.css");

/* plugin overwrites */
@import url("./styles/firebaseui.css");
